body {
    margin: 20px auto;
    max-width: 950px;
    line-height: 1.3;
    font-size: 18px;
    color: #222;
    padding: 0 10px
}

h1,h2,h3 {
    line-height:1.2;
}

video, audio {
    display: block;
    margin: 0 auto;
}

audio {
    width: 100%;
    height: 290px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    background-color: gray;
    border-radius: var(--pico-border-radius);
    /* needed on chrome */
    padding: 30px;
}

.timestamp {
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    margin: 5px 0;
}

.box {
    border-style: solid;
    border: 1.5px solid #DDDDDE;
    padding: 20px;
    border-radius: 6px;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1.5px solid #DDDDDE;
    margin: 1em 0;
    padding: 0;
}

.key {
    font-weight: bold;
    width: 48%;
    padding-right: 30px;
}

.muted {
    color: var(--pico-muted-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 6.5rem; /* first column auto scales, second is fixed width */
    grid-column-gap: var(--pico-grid-column-gap);
    align-items: start; /* so details expansion doesn't stretch the button */
}

.coloredtextbox {
    margin-top: 10px; /* - [ ] */
    background-color: #f0f8ff;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
}

.agendapunt > a {
    font-size: 0.79rem;
}

.agendapunt > details {
    text-align: left;
}

.spreekfragment > summary {
    font-weight: bold;
}

details.spreekfragment summary::after {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.spreekfragment a  {
    /* font-size: 0.7em; */
    cursor: pointer;
}

/* no idea why this doesn't match with ori-a.nl automatically? */
article {
    padding: 40px;
}

article header {
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -40px;
    padding: 40px;
}

article header p {
    font-size: 1.1rem;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    gap: 0.1em;
    margin-bottom: 10px;
}

article header p svg {
    margin-left: 0.1em;
}

.titel {
    margin-bottom: 8px;
}

a[download] {
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	gap: .5em;
	display: flex;
}

a[download]::before {
	content: "";
	background-color: currentColor;
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	mask: url("data:image/svg+xml;utf8,<svg fill=\"currentColor\" viewBox=\"0 0 220 220\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M200 124v64a12 12 0 0 1-12 12H12a12 12 0 0 1-12-12v-64a12 12 0 0 1 24 0v52h152v-52a12 12 0 0 1 24 0m-108.49 8.49a12 12 0 0 0 17 0l40-40a12 12 0 0 0-17-17L112 95V12a12 12 0 0 0-24 0v83L68.49 75.51a12 12 0 0 0-17 17z\"/></svg>") 50%/contain no-repeat;
}

/* weird wacz/warc workaround */
a[_download] {
	white-space: nowrap;
	justify-content: center;
	align-items: center;
	gap: .5em;
	display: flex;
}

a[_download]::before {
	content: "";
	background-color: currentColor;
	width: 1.5em;
	height: 1.5em;
	display: inline-block;
	mask: url("data:image/svg+xml;utf8,<svg fill=\"currentColor\" viewBox=\"0 0 220 220\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M200 124v64a12 12 0 0 1-12 12H12a12 12 0 0 1-12-12v-64a12 12 0 0 1 24 0v52h152v-52a12 12 0 0 1 24 0m-108.49 8.49a12 12 0 0 0 17 0l40-40a12 12 0 0 0-17-17L112 95V12a12 12 0 0 0-24 0v83L68.49 75.51a12 12 0 0 0-17 17z\"/></svg>") 50%/contain no-repeat;
}

.empty-agendapunt {
	--pico-color: var(--pico-contrast);
	--pico-border-color: var(--pico-contrast);
	--pico-background-color: var(--pico-primary-background);
	--pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
	padding: var(--pico-form-element-spacing-vertical) var(--pico-form-element-spacing-horizontal);
	border: var(--pico-border-width) solid var(--pico-border-color);
	border-radius: var(--pico-border-radius);
	outline: 0;
	background-color: none;
	box-shadow: var(--pico-box-shadow);
	color: var(--pico-color);
	font-weight: var(--pico-font-weight);
	font-size: 1rem;
	line-height: var(--pico-line-height);
	text-align: left;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
    margin-bottom: 21px;
}

@font-face {
    font-family: "Cantarell";
    src: url("Cantarell-VF.otf") format("opentype");
}

body {
    font-family: "Cantarell", sans-serif;
}
